<!-- ✅ MODAL METADATA -->
<div class="modal fade" id="metaModal" tabindex="-1" aria-labelledby="metaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="metaModalLabel">🧠 Dokument-Metadaten</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-dark table-bordered">
                    <tbody id="metadataTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
